.o{
    padding: 50PX;
   
}

.fondo{
width: 3000px;
left:700px;
background-color: rgb(51, 133, 201);

}

.nombre {

    color: rgb(218, 179, 255);
    font-weight: bold;
    font-size: x-large;
}